
.wrapper {
    height: 100%;
    overflow: scroll;
}

form {
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;

    &>div {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        line-height: 2em;
        margin: 5px;

        &>label {
            color: #333;
            width: 110px;
            font-size: 1em;
            line-height: 32px;
        }

        &>input,
        &>select,
        &>textarea {
            flex: 1;
            padding: 3px 5px;
            font-size: 1em;
            margin-left: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        &>input[type='checkbox'] {
            margin-top: 7px;
        }

        &>span {
            line-height: 32px;
            margin-left: 10px;
            color: #800;
            font-weight: bold;
        }

        &>div {
            margin-left: 16px;

            &>label {
                display: block;

                &>input {
                    margin-right: 3px;
                }
            }
        }
    }

    &>.buttons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-top: 15px;
    }

    button {
        margin: 0 10px;
        margin: 0 10px;
        white-space: nowrap;
        display: inline-block;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 16px;
        cursor: pointer;

        &[disabled] {
            opacity: 0.6;
            cursor: not-allowed;
        }
    }

    pre {
        position: relative;
        border: 1px solid #ccc;
        background: rgba(0, 0, 0, 0.1);
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
        padding: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.primaryBtn {
    background-image: linear-gradient(#4f93ce, #285f8f);
    border: 1px solid #285f8f;
    color: #ffffff;
}

.resetBtn {
    background-image: linear-gradient(#ffffff, #d5d5d5);
    border: 1px solid #d5d5d5;
    color: #555;
}